@use '../utils' as *;
@use '../color' as *;

.coming-soon {
  @include bg-cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: var(--poster, none);

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms linear 350ms;

    &.-playing {
      opacity: 1;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: rem(24);
    background-color: alpha(grey, dark, 0.75);

    @media (--laptop) {
      padding: rem(40) rem(96) rem(34);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: rem(240);

    @media (--laptop) {
      width: rem(320);
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-item + &__menu-item {
    display: none;

    @media (--laptop) {
      display: inline-block;
      margin-left: rem(32);
    }
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
  }

  &__banner {
    @include type-banner;
    margin-bottom: rem(24);

    @media (--laptop) {
      margin-bottom: rem(32);
    }
  }

  &__text {
    width: 100%;
    padding: 0 rem(16);
    line-height: 1.75;

    @media (--laptop) {
      padding: 0 rem(32);
    }
  }

  &__social {
    display: none;

    @media (--laptop) {
      display: block;
    }
  }

  &__link:hover {
    text-decoration: underline;
  }
}
