@use '../utils' as *;

.layout {
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
  }

  &__title {
    @include type-title;
  }

  &__view {
    padding: 1.25rem 2.5rem;
  }

  &__logo {
    width: rem(320);
  }
}
