@use '../utils' as *;

.video-index {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.25rem;

  &__entry {
    display: inline-block;
    grid-column: span 6;
    width: 100%;

    @media (--tablet) {
      grid-column: span 3;
    }

    @media (--laptop) {
      grid-column: span 2;
    }
  }
}
