@forward 'utils/palette' hide define;
@use 'utils/palette';

$-palettes: (
  "primary": (
    light: #faecdc,
    default: #d0a574,
    dark: #b68e60,
  ),
  "grey": (
    default: #2c2c31,
    dark: #171719,
  ),
);

@include palette.define($-palettes);
