@use 'rem' as *;

@mixin font-default {
  font-family: Prompt, arial, sans-serif;
}

@mixin font-display {
  font-family: Unbounded, Arial, Helvetica, sans-serif;
}

@mixin type-body {
  @include font-default;
  font-size: rem(16);
  font-weight: 400;
}

@mixin type-title {
  @include font-display;
  font-size: rem(26);
  font-weight: 700;
}

@mixin type-banner {
  @include font-display;
  font-size: rem(60);
  font-weight: 700;

  @media (--tablet) {
    font-size: rem(80);
  }
}

@mixin type-subtitle {
  font-size: rem(20);
  font-weight: 700;
}

@mixin type-button {
  font-size: rem(15);
  font-weight: 500;
}
